.comment_button
{
	background-color: #9999dd;
 	border-radius: 2px;
    padding: 5px;
    margin: 5px;
}

.comments
{
    margin-left: 20px;
}
.comment
{
	border: 1px solid;
	overflow: hidden;
    word-wrap: break-word;
}

.comment_date
{
	font-size: 13px;
    position: relative;
    top: 3px;
}

form {
    margin-right: 0px;
    width: 100%;
}

.comment_area
{
    margin: 0;
    padding: 5px;
    text-align: right;
}

.profile_links
{
    font-size: 15px;
	color: #284370;
    text-decoration: none;
}

textarea {
    color: #444;
    padding: 5px;
    resize: none;
    overflow: hidden;
}

.txtstuff {
    resize: none;
    overflow: hidden;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

.common {
    min-height: 30px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
}

.lbr {
    line-height: 3px;
}