.comment_area
{
	background-color: #dcdcee;
	height: 20px;
	width: 300px;
 	overflow: hidden;
 	position: relative;
 	resize: none;
}

.comment_button
{
	background-color: #9999dd;
 	position: relative;
 	top: 15px;
 	left: -57px;
}

.comments
{
	border: 1px solid;
	overflow: hidden;
	width: 300px;
    word-wrap: break-word;
}

.comment_ronly
{
	background-color: #ececff;
	resize: none;
 	overflow: hidden;
}

.comment_date
{
	font-size: 13px;
}

a
{
	color: #284370;
}