#add_button, #pending_button
{
	background-color: #dcdcff;
	background-image: url("../img/friend.png");
	background-position: 12px 50%;
	background-repeat: no-repeat;
	background-size: 20px;
	border-radius: 5px;
	height: 28px;
	padding-left: 35px;
}

#del_button
{
	background-color: #dcdcff;
	background-image: url("../img/unfriend.png");
	background-position: 12px 50%;
	background-repeat: no-repeat;
	background-size: 20px;
	border-radius: 5px;
	height: 28px;
	padding-left: 35px;
}