/* user
--------------------------------------------------------- */

#user_header {
	display: block;
	position: relative;
	background: linear-gradient(rgba(142,142,245,1.0),rgba(100,100,186,1.0));
	width: 100%;
	height: 220px;
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

/* user photo */

#user_element {
	padding: 20px;
}

#user_element_photo {
	display: block;
	position: relative;
	background: #424242;
	width: 130px;
	height: 130px;
	border: 6px solid #fff;
	border-radius: 50%;
	margin: 0 auto;
	box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
	overflow: hidden;
	z-index: 1;
}

#user_element_photo img.long {
	width: 130px;
}

#user_element_photo img.large {
	height: 130px;
}

#user_element_photo:hover img.long {
	width: 150px;
}

#user_element_photo:hover img.large {
	height: 150px;
}

#user_element_photo img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transition: 0.2s;
	transition: 0.2s;
	z-index: 0;
}

/* user name */

#user_element_name {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 36px;
	padding-top: 10px;
	text-align: center;
	overflow: hidden;
}

#user_element_name span {
	color: white;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}

#user_element_name a {
	color: white;
	font-size: 1.5em;
}

#black_background {
	background: linear-gradient(rgba(64,64,64,1.0),rgba(32,32,32,1.0));
	border-radius: 5px;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

/* user Wall
--------------------------------------------------------- */

#wall_infos {
	display: inline-block;
	position: relative;
	background: linear-gradient(rgba(242,242,255,1.0),rgba(232,232,255,1.0));
	box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
	border-radius: 3px;
	margin: 20px 0px;
	width: 320px;
	top: 0px;
	height: auto;
	margin: 10px 0px;
	vertical-align: top;
}

#wall_infos .wall_infos_section {
	border-bottom: 1px solid grey;
}

#wall_infos .wall_infos_section h4 {
	display: inline-block;
}

#wall_infos .wall_infos_section span {
	display: inline-block;
	float: right;
	top: 0px;
}

#wall_infos.fixe {
	position: fixed;
	top: 70px;
}

#wall_infos_friend,
#wall_infos_albums {
	display: block;
	background: linear-gradient(rgba(142,142,245,0.8),rgba(100,100,186,0.8));
	border-radius: 4px;
	display: block;
	text-align: center;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	opacity: 0.8;
	margin: 5px 0px;
}

#wall_infos_friend:hover,
#wall_infos_albums:hover {
	background: linear-gradient(rgba(142,142,245,0.9),rgba(100,100,186,0.9));
	opacity: 1.0;
}


#wall_infos_friend:active,
#wall_infos_albums:active {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5) inset;
}

#wall_infos_friend span,
#wall_infos_albums span {
	color: black;
	display: inline-block;
	vertical-align: top;
	line-height: 80px;
	padding-left: 20px;
}

#wall_infos_friend img,
#wall_infos_albums img {
	margin-top: 5px;
}

#user_wall {
	display: inline-block;
	width: 65%;
	height: auto;
	right: 0px;
	margin: 10px 0px 10px 10px;
	vertical-align: top;
}

#user_edit {
	display: block;
	position: relative;
	background: linear-gradient(rgba(242,242,255,1.0),rgba(232,232,255,1.0));
	box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
	border-radius: 3px;
	width: 100%;
	min-height: auto;
	margin: 10px 0px;
}

#user_edit a.delAccount {
	color: red;
	float: right;
}

.user_publication {
	display: block;
	position: relative;
	background: linear-gradient(rgba(242,242,255,1.0),rgba(232,232,255,1.0));
	box-shadow: 2px 2px 12px rgba(0,0,0,0.4);
	padding: 10px;
	border-radius: 3px;
	margin: 20px 0px;
}


/* News
--------------------------------------------------------- */

#news_profil {
	display: inline-block;
	position: fixed;
	width: 320px;
	vertical-align: top;
}

#news_wall {
	display: inline-block;
	position: relative;
	width: 630px;
	height: auto;
	margin: 10px 0px 10px 330px;
	vertical-align: top;
}